@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Nunito+Sans:wght@200;400;600&family=Palanquin:wght@500&display=swap');
body{
 margin:0;
  padding:0;
  border:0;
  width:25rem;
  height: 15rem;
  overflow:hidden;
}
.serverStart{
  margin-left:1rem;
}
form {
  background-color: #081229;
  padding: 2rem;
  font-size:0.7rem;
  color: rgb(168, 27, 27);
}
.form-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
p,input,button{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
  font-weight: 700;
}

input {
  
  padding: 0.5rem;
  background-color: #191d3a;
  outline: none;
  border: 0;
  text-align: center;
  color: white;
  width: 20rem;
}
input:hover {
  border: 1.5px rgb(57, 179, 200) solid;
}
.submitButton {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
button,input{
  border-radius:5px;
}
button {
  width: 80%;
  border-radius: 0;
  border: 0;
  padding: 0.5rem;
  background-color: rgb(17, 145, 168);
}
button:hover {
  background-color: rgb(69, 73, 161);
  transition: 1s linear;
  cursor: pointer;
}
